.allContainer {
    height: 1000px;
    background-color: #01162D;
}

.homeContainer {
    display: flex; 
    justify-content: center;
    background-color: #01162D;
}

.feedInput {
    outline: none;
}

.welcome-container {
    color:#88BFE8;
}

.customCard {
    box-shadow: 0 4px 8px 0 rgba(134, 130, 130, 0.2), 0 6px 20px 0 rgba(156, 150, 150, 0.19);
    background-color: #14233E !important;
}

.feed-msg {
    color:white;
}

.formControl {
    background-color: #01162D !important;
    color:white !important
}

.card-title {

    display:flex;
    position: sticky;
    top: 0;
}

.feed-date {
    margin-left: 7px;
}

#font-date {
    font-size: 12px;
}

.delete-icon{
    flex:5;

}

#del-icon {
    float:right;
    color:#FF7070 !important;
}

